body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
}

.toogle-menu {
    display: flex;
}

.menu {
    cursor: pointer;
}

.times {
    cursor: pointer;
}

.menu-disappear {
    display: none;
}

.wrong {
    display: none;
}